.headers-of-notes {
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.header-of-note {
  list-style-type: none;
  background-color: rgb(255, 255, 250);
  padding: 1.5rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;

  &:hover {
    color: rgb(255, 255, 250);
    background: #3366ff;
    cursor: pointer;
  }
}

.add-note {
  width: max-content;
  font-size: 2rem;
  background: rgb(255, 255, 250);
  border: none;
  margin-left: auto;

  &:hover {
    cursor: pointer;
    background: rgb(186, 224, 229);
  }
}
